
*{
    box-sizing: border-box;
    margin: 0;
}


#sidebar-left{
    background-color: red;
    min-width: 100px;
    min-height: 500px;
}
#sidebar-right{
    background-color: blue;

}
#footer{
    background-color: black;

}